.register-card{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 150px;
    max-width: 200px;
 justify-content:center; 
 align-items:center;
}

button {
    margin-right: 16px;
}