mat-form-field {
    width: 100%;
}
.background{
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 600px;
 justify-content:center; 
 align-items:center;
    margin-top: 50px;
}