<mat-card class="login-card">
    <form [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
        </mat-form-field>
        <p>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" />
            </mat-form-field>
        </p>
        <button mat-stroked-button (click)="onLogin()">login</button>
        <a routerLink="/register">create a user</a>
    </form>
</mat-card>